@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --clr-gradient:linear-gradient(to right, var(--color-primary), #8B5CF6, #D946EF);
    --color-primary: #6366F1;
    

    --clr-header: #0B0F19;

    --clr-button-sec: #EFF2FC;
    --clr-button-background: var(--color-primary);
    --clr-button-text-color: #fff;

    --clr-text-primary: #565873;
    --clr-text-background: var(--color-primary);

    --clr-body-background: #fff;

    --clr-slider-ring-background: #fff;
    --clr-slider-background: #9397AD;
    --clr-slider-checked-background: #22C55E;

    --clr-button-download-text: #ffffff;
    --clr-button-download-background: #0B0F19;
    --clr-button-download-hover-background: #0B0F19;
}

body{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;

    background-color: var(--clr-body-background);
}

html{
    color-scheme: light;
}

.dark{
    color-scheme: dark;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle {
    --_W: 40px;
    --_H: 20px;

    width: var(--_W);
    height: var(--_H);

    position: relative;
    display: inline-block;

    input[type="checkbox"]{
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider{
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: var(--clr-slider-background);
        border-radius: 100vw;
        box-shadow: inset 0 0 3px #00000038;

        transition: 400ms;
    }

    .slider::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        background-color:var(--clr-slider-ring-background);
        border-radius: 50%;
        box-shadow: 0 0 4px #00000057;

        transition: 400ms;
    }

    input[type="checkbox"]:checked + .slider::before {
        left:calc(100% - var(--_H));
        background-color: var(--clr-slider-ring-background);
    }

    input[type="checkbox"]:checked + .slider {
        background-color: var(--clr-slider-checked-background);
    }

}

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header{

    .header-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        

        .actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
    }
}

button, .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--clr-body-background);
    background-color: var(--clr-button-background);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;

    img{
        height: 18px;
        width: 18px;
    }

}



.btn-download{
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    height: 52px;
    width: 180px;


    .btn-area{
        padding: 10px 20px;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-areas:    "icon text"
                                "icon store";



        background-color: var(--clr-button-download-background);
        color: var(--clr-button-download-text);
        font-size: 0.8rem;
        

        .download-app-text{
            grid-area: text;
            font-weight: 600;
            font-size: 0.82em;
            text-align: left;
            height: 8.6px;
            
        }
        
        .download-app-icon{
            grid-area: icon;
            max-height: 30px; /*<--- YOU F**KET UP THIS ONE IN THE VIDEO (PLEASE FIX)*/
        }

        .download-app-store{
            grid-area: store;
            height: 22px;
            width: 99px;
            font-size: 1.41em;
            font-weight: 600;
            text-align: left;

        }

        .p{
            font-size: 1.31em; /*<--- was need to fix (the f**k up in video)*/
        }

    }
}

.hero{
    background: #ffffff;
    background:linear-gradient(175deg, rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    padding-top: 5rem;

    .hero-area{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        text-align: left;

        .hero-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .hero-title{
                font-size: 56px;
                font-weight: 800;

            }

            .hero-ingress{
                font-size: 18px;
                font-weight: 400;
            }

            .app-download-buttons{
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 210px 210px;
                align-items: center;
                gap: 1rem;

            }

        }
        /*
        .hero-image{

        }
        */
    }
}

.Brands{ 
    display:flex;
    flex-direction: row;
    padding-top: 97px;
    padding-bottom: 110px;


    .logo-area{
        display: flex;
        gap: 1rem;
        width: 100%;
        justify-content: center;

        img{
            height: 100px;
            width: 196px;
        }
    }

}

.Features{

    .Features-image{
        width: 348px;
        margin-right: 13.5rem;
        img{
            width: 348px;
            height: 684px;
            
        }
    }



}